body {
    background-color: rgba(0, 0, 0, 0.582);
    background: linear-gradient(rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.76)), url("https://static.wixstatic.com/media/66f56f_150ba94c24094a0baafa2b425ece7140~mv2.jpg/v1/fit/w_2500,h_1330,al_c/66f56f_150ba94c24094a0baafa2b425ece7140~mv2.jpg");
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    padding: 50px;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

h3 {
    text-align: left;
    font-size: 18px;
}

h4 {

    text-align: right;
    font-size: 18px;
    margin-top: -7%;

}

h5 {

    text-align: right;
    font-size: 18px;
    padding: 20px;
    margin-top: -7%;

}

h6 {

    text-align: right;
    font-size: 14px;

margin-right: -25px;

}

.price2 {

    text-align: right;
    font-size: 17px;
    margin-right: -20px;
    margin-bottom: -22px;

}

.established {
    font-style: italic;
}
  
h1, h2, p {
    text-align: center;
}

.container {
    background-color: #e0e0e0de;
    margin-left: 250px;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.788);
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 800%;
}

desc {

    color: #777777;
    font-size: 24px;
    border-top: 1px solid #dddddd;
    text-align: left;
    width: 20%;
    line-height: 1.4;
    padding-top: 10px;
    margin-top: 10px;

}
 


.menu {
    width: 115%;
    background-color: rgba(246, 235, 246, 0);
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    max-width: 500px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr {
    height: 2px;
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}
  
.bottom-line {
    margin-top: 25px;
    height: 20%;
}
  
h1, h2 {
    font-family: Sans-serif, serif;
}
  
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;

}

.flavor, .dessert {
    text-align: left;
    font-size: 18px;
    width: 85%;
}
      
.price {
    text-align: justify;  
    font-size: 15px;
    border-bottom: 1px solid #e4e4e4b2;
    color: #777777;
    padding-top: -5px;
    margin-top: -5px;

}
/* FOOTER */

footer {
    font-size: 14px;
}
  
.address {
    margin-bottom: 5px;
}
  
a {
    color: black;
}
  
a:visited {
    color: black;
}
  
a:hover {
    color: brown;
}
  
a:active {
    color: brown;
}
